.wrapper {
  margin-inline: auto;
  text-align: center;
  margin-block: 1rem;
}
section {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  h1 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-header);
  }
  h2 {
    font-size: 2rem;
    color: var(--color-header);
  }
}
