.controls {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}
.controls > :first-child {
  justify-self: start;
}

.controls > :nth-child(2) {
  justify-self: center;
}

/* Grid för produktkorten */
.productGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-xl);
}

/* Tablet */
@media (min-width: 48rem) {
  .productGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 64rem) {
  .productGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
